body {
    background-image: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center
}
.responsive {
    width: 24.99999%;
}
.img {
    border: 1px solid #477874;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    opacity: 0.6;
    transition-duration: 0.2s;
}
.img:hover {
    opacity: 1;
}
.title {
    color: white;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 90px;
    width: 300px;
}
.title:hover {
    color: #777;
}
